.blog-header{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.header-info{
    background-color: rgba(10, 109, 122, 0.622);
    height: 440px;
}
.blog-header img{
    height: 440px;

}
.header-info p{
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
}

.blog{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.blog img{
    width: 500px;
}
.blog-info{
    max-width: 750px;
}
.blog-info p{
    font-size: 18px;
    margin-top: 22px;
}
/* media */
@media screen and (max-width:590px){
    .blog img{
        width: 340px;
    }
}